<div style="width:900px; margin: 20px auto;">
  <h2>Dear <%= name %>,</h2>
  <div style="color:#999; background:#fefefe; text-align:right;">
    Thanks,<br>
    From TSS WFE team <br>
    Auto deliver, do not reply.
  </div>
</div>
